body {
    font-family:Arial, Helvetica, sans-serif; 
}
/* Common classes */
.container {
    width: 1420px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

/* Info section starts */
#info {
    background-color: #f3f4f7;
}
.info-contact, 
.info-social {
    display: flex;
}
.info-contact-element, 
.info-social-element {
    margin-right: 20px;
}
.info-contact-element i,
.info-social span {
    color: #4eaf4e;
}
.info-social-element i {
    margin: 0 5px;
}
/* Info section ends */

/* Navbar section starts */
#navbar { 
    background-color: #f3f4f7;
}
.navbar-nav ul {
    display: flex;
}
.navbar-nav {
    display: flex;
    align-items: center;
}
.navbar-nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0px 15px;
}
.bg {
    background-color: white;
}
.padding-x {
    padding: 15px 30px;
    box-sizing: border-box;
}
.navbar-nav-search input {
    border: none;
    border-bottom: 1px solid gray;
}
.navbar-nav-search i {
    margin-left: -16px;
}
/* Navbar section ends */

/* Stats section starts */
#stats {
    background-image: url("https://templates.envytheme.com/noke/default/assets/img/bg8.jpg");
    padding: 100px 0px;
}
.element h3{
    color: #4eaf4e;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.width-x {
    width: 1120px;
}
.element p{
    font-size: 17px;
    font-family: 'Manrope', sans-serif; 
    color: white;
}
/* Stats section ends */

/* Experts section starts */
.center-x { 
    text-align: center;
}
.title {
    margin-left: 500px;
}
#expert-head,
#experts {
    background-color: #f3f4f7;
    padding: 50px 0px 0px;
}
#expert-head span {
    color: #4eaf4e;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}
#expert-head h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
}
.parts img {
    width: 336px;
    height: 353px;
}
.parts span{ 
    color: #4eaf4e;
    font-family: 'Manrope', sans-serif;
}
.parts h5{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px;
}
.parts {
    text-align: center;
}
/* Experts section ends */