<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <section id="webpage">
        <div class="container padding-x">
            <div class="row">
                <div class="col-4">
                    <div class="webpage-item">
                        <img src="https://cdn.oxu.az/uploads/W1siZiIsIjIwMjEvMTAvMjQvMTQvMjAvNDUvMmFhZTI4YTYtMjkwZS00ZWZlLTg4MDktOTRlZDJiOTFlNjU3L0ZvdG9KZXQgLSAyMDIxLTEwLTI0VDE0MjAyOS43OTQuanBnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0NjVcdTAwM2UiXV0?sha=fbc0ff19585be1d1" alt="#">
                        <p>Devid Bekhem DÇ-2022-nin <br> siması olacaq - FOTO</p>
                        <div class="date"><span> 24 <br> Okt</span></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="webpage-item">
                        <img src="https://cdn.oxu.az/uploads/W1siZiIsIjIwMjEvMTAvMjQvMTMvMzkvMTgvY2MyNjg5NzMtN2Y1NS00ZDNkLTlhMDAtOTVlOTVjZDI3ODAwL0ZvdG9KZXQgLSAyMDIxLTEwLTI0VDEzMzkwOS42NTkuanBnIl0sWyJwIiwiZW5jb2RlIiwianBnIiwiLXF1YWxpdHkgODAiXSxbInAiLCJ0aHVtYiIsIjYyMHg0NjVcdTAwM2UiXV0?sha=59550da7edf9e7c9" alt="#">
                        <p>Devid Bekhem DÇ-2022-nin <br> siması olacaq - FOTO</p>
                        <div class="date"><span> 24 <br> Okt</span></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="webpage-item">
                        <img src="https://cdn.oxu.az/uploads/W1siZiIsIjIwMjEvMTAvMjQvMTMvNDkvMDQvZDMzYzljZmQtYzg3ZS00YzRmLThlYmYtMTc2YzYyYzlmNjUzL0ZvdG9KZXQgKDY1KS5qcGciXSxbInAiLCJlbmNvZGUiLCJqcGciLCItcXVhbGl0eSA4MCJdLFsicCIsInRodW1iIiwiNjIweDQ2NVx1MDAzZSJdXQ?sha=22825896e700c8f8" alt="#">
                        <p>Devid Bekhem DÇ-2022-nin <br> siması olacaq - FOTO</p>
                        <div class="date"><span> 24 <br> Okt</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>